@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 15px;
}

a {
    color: purple;
    text-decoration: none;
 }

 button {
     border: gray 1px solid;
     border-radius: 3px;
     padding: 8px;
 }

 img {
     width: 143px;
     height: 143px;
    padding: 0;
    margin: 0;
 }

 button:hover {
     cursor: pointer;
     background-color: pink;
 }

 ul {
     padding: 0;
 }
 
 li {
     border: gray 1px solid;
     border-radius: 4px;
     padding: 8px;
     margin-bottom: 8px;
     width: fit-content;
     list-style-type: none;
 }

 .card-container {
     display: flex;
 }

 /* .card {
     border: gray 1px solid;
     border-radius: 3px;
     background-color: rgb(233, 207, 185);
     margin: 8px;
     padding: 8px;
     width: fit-content;
 } */

 .card:first-child {
     margin-left: 0;
 }